.color-nav {
  background-color: #d97590;
}

.text-color {
  text-decoration: none;
  color: white
}
.text-color:hover{
  color:rgb(194, 35, 133)
}

.Boton{
  margin: 5px;
  text-decoration: none;
  color: white;
}
.IconCarrito{
  text-decoration: none;
  color: white;
  margin-left: 15px;
  padding: 5px;
  
}
.IconCarrito:hover{
  color:rgb(194, 35, 133)
}

.Boton:hover{
  color:rgb(194, 35, 133)
}